# ejercicio integrado primera parte

## delitos en CABA

__este trabajo trata de analizar todas las cosas vistas en el curso__

![Buenos Aires]()

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
ruta = '/home/balthazar/Escritorio/progra/Analisis-de-datos/integrador/delitos2019.csv'
df = pd.read_csv(ruta)
df

,id,fecha,franja_horaria,tipo_delito,subtipo_delito,cantidad_registrada,comuna,barrio,lat,long
0,374556,2019-01-01,12,Lesiones,Siniestro Vial,1.0,4.0,Nueva Pompeya,-34.648387,-58.404748
1,426152,2019-01-01,6,Robo (con violencia),NaN,1.0,9.0,Liniers,-34.649827,-58.513859
2,371604,2019-01-01,8,Lesiones,Siniestro Vial,1.0,15.0,Chacarita,-34.588108,-58.439392
3,425359,2019-01-01,16,Hurto (sin violencia),Hurto Automotor,1.0,10.0,Floresta,-34.631877,-58.483975
4,437571,2019-01-01,2,Robo (con violencia),Robo Automotor,1.0,4.0,Parque Patricios,-34.633161,-58.397123
...,...,...,...,...,...,...,...,...,...,...
117656,486770,2019-12-31,18,Robo (con violencia),Robo Automotor,1.0,8.0,Villa Riachuelo,-34.692347,-58.472299
117657,486678,2019-12-31,4,Robo (con violencia),Robo Automotor,1.0,5.0,Boedo,-34.626424,-58.422846
117658,486668,2019-12-31,1,Robo (con violencia),Robo Automotor,1.0,1.0,Monserrat,-34.615892,-58.370573
117659,486750,2019-12-31,14,Robo (con violencia),Robo Automotor,1.0,15.0,Villa Crespo,-34.602577,-58.433145
117660,486683,2019-12-31,7,Robo (con violencia),Robo Automotor,1.0,8.0,Villa Lugano,-34.674789,-58.466394

## informacion del dataframe

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117661 entries, 0 to 117660
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   117661 non-null  int64
 1   fecha                117661 non-null  object
 2   franja_horaria       117661 non-null  object
 3   tipo_delito          117661 non-null  object
 4   subtipo_delito       11676 non-null   object
 5   cantidad_registrada  117661 non-null  float64
 6   comuna               117064 non-null  float64
 7   barrio               117064 non-null  object
 8   lat                  117064 non-null  float64
 9   long                 117064 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.0+ MB

## cantidad de delitos cometidos en 2019

In [55]:
print("La cantidad de delitos cometidos en 2019 es de:",df["id"].count())

La cantidad de delitos cometidos en 2019 es de: 117661

In [56]:
delitos = pd.read_csv(ruta)

barrios = delitos['barrio'].unique()
contador = []
for b in barrios:
    cantidad = delitos.loc[delitos['barrio'] == b, 'id'].count()
    contador.append(cantidad)

delitos_barrio = pd.DataFrame({'barrio': barrios, 'cantidad': contador})
print('los 5 barrios con mas delitos son: ')
delitos_barrio.sort_values(by='cantidad',ascending=False).head(5)

los 5 barrios con mas delitos son:

         barrio  cantidad
9       Palermo      9559
18    Balvanera      9239
32  San Nicolás      6246
19     Recoleta      5589
23       Flores      5518

In [57]:
print('los 5 barrios con menos delitos son: ')
delitos_barrio.dropna(subset=['barrio']).sort_values(by='cantidad').head(5)

los 5 barrios con menos delitos son:

           barrio  cantidad
30  Puerto Madero       283
47     Villa Real       343
48      Versalles       392
44      Agronomía       454
37        Coghlan       476

In [ ]:
cantidad = df['franja_horaria'].unique()
delito_hora = []
for hora in cantidad:
    cant = df.loc[df['franja_horaria']== hora,'id'].count()
    delito_hora.append(cant)
delitos_por_hora = pd.DataFrame({
    'hora': cantidad,
    'delitos': delito_hora
})

delitos_por_hora=delitos_por_hora.dropna().sort_values(by='delitos')

   hora  delitos
24  S/D        8
16    3     1719
15    4     1814
4     2     1965
8     5     2357
20    1     2445
1     6     2998
10    0     3073
5     7     3897
13   23     4500
9     9     4931
2     8     5122
19   22     5449
22   11     5527
17   10     5536
7    13     6044
23   15     6315
6    21     6337
0    12     6407
21   14     6458
3    16     6518
11   17     6612
12   20     6990
18   19     7224
14   18     7415

In [66]:
df.loc[df['franja_horaria']== '10','id'].count()

5536