## indices 
las etiquetas son una parte fundamental de las estructuras de pandas, muchas funcionalidades dependen de ellas
Por lo tanto, es importante poder
manipular y modificarlas según sea necesario. Las
etiquetas están alojadas en una estructura llamada
__Index__

In [2]:
import pandas as pd
import numpy as np

In [3]:
array = np.array([
    [3,6,2],
    [6,8,5],
    [7,0,5],
    [4,3,8]
])
df = pd.DataFrame(array)
df

   0  1  2
0  3  6  2
1  6  8  5
2  7  0  5
3  4  3  8

In [5]:
df.index = ['fila 1','fila 2','fila 3','fila 4']
df.columns= ['col 1','col 2','col 3']
df

        col 1  col 2  col 3
fila 1      3      6      2
fila 2      6      8      5
fila 3      7      0      5
fila 4      4      3      8

Los objetos de tipo Index no soportan la asignación de ítems, no
se puede cambiar uno de sus elementos por asignación directa.
Esta modificación la podemos realizar de dos maneras:
* Una es modificando directamente el array de numpy que aloja los datos del Index a través del atributo values.
* La otra forma es usando el método rename

In [7]:
df.index.values[0] = 'FILA 1'
df

        col 1  col 2  col 3
FILA 1      3      6      2
fila 2      6      8      5
fila 3      7      0      5
fila 4      4      3      8

In [8]:
df.rename(index= {'fila 2': "nueva fila 2"},inplace=True)
df

              col 1  col 2  col 3
FILA 1            3      6      2
nueva fila 2      6      8      5
fila 3            7      0      5
fila 4            4      3      8

In [12]:
df.rename(columns= lambda x: x.replace('col','columna'),inplace=True)
df

              columna 1  columna 2  columna 3
FILA 1                3          6          2
nueva fila 2          6          8          5
fila 3                7          0          5
fila 4                4          3          8

## reset_index
para convertir el index en una columna se usa el metodo reste_index, este transforma el index en una columna y resetea el indece a un rango de numeros

In [13]:
df.reset_index()

          index  columna 1  columna 2  columna 3
0        FILA 1          3          6          2
1  nueva fila 2          6          8          5
2        fila 3          7          0          5
3        fila 4          4          3          8

## reindex
El método reindex permite cambiar el orden
en que se encuentran las etiquetas pero
manteniendo la alineación de los datos con la
etiqueta original. Sólo se conservan las filas
cuyas etiquetas se indiquen explícitamente.

In [1]:
df.reindex(['marzo','enero','septiebre'])

NameError: name 'df' is not defined